.inputContainer {
  text-align: left;
  margin: 3% 0;
}
input {
  padding: 3%;
  outline: none;
  /* border: 1px solid #f8f8fd; */
  border: 1px solid #9ba0ab;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
}
label {
  font-weight: 500;
}
.workspaceURL {
  display: flex;
  flex-direction: row;
  width: 107%;
  align-items: center;
  justify-content: center;
}
.url {
  border: 1px solid #9ba0ab;
  color: #9ba0ab;
  width: 40%;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #eaedf2;
  border-right: none;
  height: 30px;
  margin-top: 3px;
}
