.Card {
  width: 12rem;
  border-radius: 5px;
  cursor: pointer;
  height: 9rem;
  display: flex;
  flex-direction: column;
  padding: 16px;
  transition: border-color 0.2s ease-out;
  justify-content: space-between;
  margin: 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
}
.text {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  color: #9ba0ab;
}

.Card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
}
