.tabThree {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  margin-top: 2rem;
}
.tabFour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}
.tabFourImg {
  margin-bottom: 2rem;
}
