.tabThree {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  margin-bottom: 2rem;
}
